/* Added all new CSS to main.css, but please keep adding your own CSS here. Thanks in Advance! */

.supported-by {
	text-align: center;
	padding: 52px 0 0 0;
}

.supported-by img { 
	height: 65px; /* smaller than real size to provide for retina devices */
	filter: grayscale(100%);
}

.supported-by img:hover {
	filter: none;
}

@media (min-width: 568px) {
.supported-by a:not(:first-child) {
	margin-left: 48px;
}
}

@media (max-width: 568px) {
.supported-by a {
	display: block;
}
}

.judge-picture {
    background-size: 50px;
}

.judge-iuri .judge-picture {
	background-image: url(../img/judges/iuri-matias.jpeg);
}

.judge-carolyn .judge-picture {
	background-image: url(../img/judges/carolyn-reckhow.jpg);
}

.judge-alex .judge-picture {
	background-image: url(../img/judges/alex-van-de-sande.jpeg);
}

.judge-xin .judge-picture {
	background-image: url(../img/judges/xin-xu.jpg);
}

.judge-bo .judge-picture {
	background-image: url(../img/judges/bo-shen.jpg);
}

.judge-ben .judge-picture {
	background-image: url(../img/judges/ben-morrow.jpg);
}

.judge-ben .judge-text {
	background-color: #f1eaf3;
	color: #78348c;
	border-radius: 8px;
	padding: 0 6px;
	display: inline-block;
}

.schedule a:after {
	background-image: url('../img/icons/icon_external-link.png');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center;
    width: 11px; 
    height: 20px;
    padding-left: 11px;
    margin-left:3px;
    content:"";
}
